@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #06c206;
  --color-secondary: yellow;
}

.poppins {
  font-family: "Poppins", sans-serif;

  font-style: italic;
}

.links {
  font-family: "Poppins", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  font-style: italic;
}

.active {
  color: rgb(6, 194, 6);
  font-weight: bold;
  /* background-color: rgb(184, 252, 184); */
}
